$screen-xs-max: 576px;
$screen-sm-min: 577px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

@custom-media --xs (max-width: $screen-xs-max);
@custom-media --sm (min-width: $screen-sm-min);
@custom-media --md (min-width: $screen-md-min);
@custom-media --lg (min-width: $screen-lg-min);
@custom-media --xl (min-width: $screen-xl-min);

$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-bold: 700;

$family-body: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$family-header: "Roboto Condensed", Georgia, Times, Times New Roman, serif;
